#redes .contenidoredes
{
	display: flex; 
	/*para poner todo en una sola fila*/
	justify-content: center;
	/*para que las imagenes se centreen */
	flex-wrap: wrap;

	/*para que siun elemento no encaje en la fila, baje */
}
#redes h3, h4
{
	text-align: center;
}

#redes article
{
	margin: 30px;
	/*para que las imagenes se separen*/
}
#redes img
{
	width: 65%;
	max-width: 80px;
}